<div class="index-back">
  <div class="index-title">
    きょうりゅういちらん
  </div>
  <div class="index-dinosaurs">
      <% @dinosaurs.each do |dinosaur| %>
        <li class="li-dinosaur">
        <%= link_to dinosaur_path(dinosaur) do %>
          <div class=image-index>
            <%= image_tag dinosaur.image.variant(resize:'400x400'), class: 'index-image' %>
          </div>
          <div class="name-index">
            <%= dinosaur.name %>
          </div>
        <% end %>
      <% end %>
    </div>
</div>

<% if admin_signed_in? %>
  <div class="dinosaur-btn" >  
    <%= link_to new_dinosaur_path, class: "new-dinosaur-btn" do %>
      きょうりゅうとうろく
    <% end %>
  </div>
<% end %>

<div class="topics">
  <div class= "topic-back">
  <%= image_tag "発掘者.png", class:"topics-image" %>
  <div class ="iamge-topic">
    <p class="topic-title">とぴっくす</p>
  </div>
  <div class= "topic-index">
      <% @topics.each do |topic| %>
      <div class="date">
        <%= topic.created_at.strftime('%Y/%m/%d') %>
      </div>
      <div class ="topics-comment">
        <%= topic.topic %>
        <% if admin_signed_in? %>
        <%= link_to "さくじょ", topic_path(topic.id), data: { turbo_method: :delete }, class:"topic-destroy" %>
        <% end %>
      </div>
      <% end %>
  </div>
</div>
</div>

<% if admin_signed_in? %>
  <div class="new-topics">
    <%= form_with model: Topic.new, url: topics_path, local: true do |f| %>
      <div class="text-topic">
        <%= f.text_area :topic, class: "topic-text", id: "topic-text", placeholder: "", maxlength: "40" %>
      </div>
      <div class="registration-topix">
        <%= f.submit "とうこうする", class: "topic-registration" %>
      </div>
    <% end %>
  </div>
<% end %>