<!DOCTYPE html>
<html>
  <head>
    <title>DinosaurCollection</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Monomaniac+One&display=swap" rel="stylesheet">
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
    <script src="index.js"></script>
    <title>きょうりゅうずかん</title>
  <body>
    <header>
      <div class="heading">
        <%= image_tag "森.jpg", class:"heading-image1" %>
        <h1 class = "heading-title" >きょうりゅうずかん</h1>
        <%= image_tag "プテラノドン.png", class:"heading-image2" %>
        <%= image_tag "考古学者.png", class:"heading-image3" %>
        <div class="heading-comment">
          きょうからきみも<br><span class="span-red">きょうりゅうはかせ</span>だ！
        </div>
        <% if admin_signed_in? %>
          <div class="admin">
            <%= link_to 'ログアウト', destroy_admin_session_path, data: {turbo_method: :delete}, class: "admin-logout" %>
          </div>
        <% else %>
          <div class="admin admin2">
            <%= link_to '管理者ログイン', new_admin_session_path, class: "admin-login" %>
          </div>
        <% end %>
      </div>
      <div class="heading-menu">
        <ul class = "heading-ul" >
          <li class="heading-li">
            <%= link_to dinosaurs_path, class: "header-li" do %>
              🌍とっぷぺーじ
            <% end %>
          </li>
          <li class="heading-li">
            <%= link_to dinosaurs_path(eating: "そうしょく"), class: "header-li" do %>
              🌿そうしょくきょうりゅう
            <% end %>
          </li>
          <li class="heading-li">
            <%= link_to dinosaurs_path(eating: "にくしょく"), class: "header-li" do %>
              🍖にくしょくきょうりゅう
            <% end %>
          </li>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
